#include <windows.h>
#include "resource.h"
IDI_APP ICON "LaptopMonitor.ico"
IDI_APP_READY ICON "LaptopMonitor-ready.ico"
IDI_APP_CONNECTED ICON "LaptopMonitor-connected.ico"
IDI_APP_WARNING ICON "LaptopMonitor-warning.ico"
IDI_APP_ERROR ICON "LaptopMonitor-error.ico"
IDI_APP_OFF ICON "LaptopMonitor-off.ico"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,2,0,0
 PRODUCTVERSION 0,2,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Laptop Monitor"
      VALUE "FileDescription", "Laptop Monitor"
      VALUE "FileVersion", "0.2.0"
      VALUE "InternalName", "LaptopMonitor"
      VALUE "OriginalFilename", "LaptopMonitor.exe"
      VALUE "ProductName", "Laptop Monitor"
      VALUE "ProductVersion", "0.2.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
